@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(120deg, #4f3bffd8, #25f8ffda);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 840px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span{
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo{
    font-size: 10px;
}

.dias{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 600px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.dias div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.dias span {
    font-weight: bolder;
    font-size: 60px;
}

.dias span.tempo {
    font-size: 10px;
}